@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    
    .botao{
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }

    .titulo{
        margin-top: 90px;
    }

    .descricao{
        width: 55%;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}